<ul class="tree">
    {{#allassiglist}}
    <li class="parent">
        <details open class="details">
            <summary class="bold">
                <span class="px-1">{{{ coursename }}}</span>
            </summary>
            <ul class="nested-list">
                {{#assignments}}
                <li class="nested-item row w-100">
                    <span class="pl-3 col-8 my-auto">{{{ name }}}</span>
                    <span class="col-4 text-right">
                        <a href="{{{url}}}" class="btn btn-primary btn-sm">
                            {{#str}} gradeverb, core {{/str}}
                        </a>
                    </span>
                </li>
                {{/assignments}}
            </ul>
        </details>
    </li>
    {{/allassiglist}}
    {{^allassiglist}}
        {{#str}} no_ungraded, block_ungraded_assignments {{/str}}
    {{/allassiglist}}
</ul> 
